include README.md
include python-requirements.txt
recursive-include lexnlp *.pickle
recursive-include lexnlp/extract/en/addresses *.json *.txt *.xml
recursive-include lexnlp *.csv
recursive-include libs *
recursive-include scripts *
