[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
cloudpickle = "*"
Cython = "*"
dateparser = "*"
elasticsearch = "*"
gensim = "==4.1.2"
importlib-metadata = "*"
joblib = "*"
lxml = "*"
nltk = "*"
num2words = "*"
pandas = "*"
psutil = "*"
pycountry = "*"
python-dateutil = "*"
regex = "*"
reporters-db = "*"
requests = "*"
scikit-learn = "==0.24"
scipy = "*"
tqdm = "*"
unidecode = "*"
us = "*"
zahlwort2num = "*"
numpy = "*"

[dev-packages]
coverage = "*"
memory-profiler = "*"
nose = "*"
pylint = "*"
pytest = "*"
sphinx = "*"

[requires]
python_version = "3.8"
