bs4==0.0.1
dateparser==0.7.0
gensim==3.4.0
https://github.com/LexPredict/datefinder/archive/master.zip
lxml==4.2.0
nltk==3.2.4
num2words==0.5.5
pandas==0.21.0
pycountry==18.5.26
regex==2017.9.23
reporters-db==1.0.12.1
requests==2.21.0
scipy==1.0.0
scikit-learn==0.19.1
typing==3.6.2
Unidecode==0.4.21
us==1.0.0
