bs4==0.0.1
dateparser==0.7.2
gensim==3.8.3
https://github.com/LexPredict/datefinder/archive/master.zip
nltk==3.5
num2words==0.5.10
pandas==0.24.2
pycountry==20.7.3
regex==2020.7.14
reporters-db==2.0.3
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.1
Unidecode==1.1.1
us==2.0.2
