apipkg==1.4
astroid==2.1.0
bs4==0.0.1
certifi==2017.7.27.1
chardet==3.0.4
coverage==4.0.3
Cython==0.29.12
https://github.com/LexPredict/datefinder/archive/master.zip
dateparser==0.7.0
elasticsearch==5.4.0
execnet==1.5.0
gensim==3.4.0
idna==2.6
isort==4.2.15
lazy-object-proxy==1.3.1
lxml==4.2.0
mccabe==0.6.1
memory-profiler==0.47
nltk==3.4.5
nose==1.3.7
num2words==0.5.5
numpy==1.15.1
pandas==0.23.4
pep8==1.7.0
pluggy==0.8.1
psutil==5.4.0
py==1.7.0
pycountry==18.5.26
pylint==2.2.2
pytest==4.2.0
pytest-cache==1.0
pytest-cov==2.5.1
pytest-pep8==1.0.6
pytest-pylint==0.14.1
pytest-xdist==1.20.1
python-coveralls==2.9.1
python-dateutil==2.6.1
pytz==2017.2
PyYAML==5.1
regex==2017.9.23
reporters-db==1.0.12.1
requests==2.21.0
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
scikit-learn==0.19.1
sphinx==2.1.2
tika==1.15
twine==1.13.0
Unidecode==0.4.21
urllib3==1.25.3
us==1.0.0
wrapt==1.10.11
