beautifulsoup4==4.11.1
cloudpickle==2.1.0
coverage==6.4.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
dateparser==1.1.1
docutils==0.17.1
elasticsearch==7.8.0
gensim==4.1.2
joblib==1.1.0
ipdb==0.13.9
lxml==4.9.0
memory-profiler==0.60.0
nltk==3.7
nose==1.3.7
num2words==0.5.10
numpy==1.22.3
pandas==1.4.2
psutil==5.9.1
pycountry==22.3.5
pylint==2.14.1
pytest==7.1.2
pytest-cache==1.0
pytest-cov==3.0.0
pytest-pep8==1.0.6
pytest-pylint==0.18.0
pytest-xdist==1.33.0
python-coveralls==2.9.3
python-dateutil==2.8.1
regex==2022.3.2
reporters-db==3.2.18
requests==2.27.1
scikit-learn==0.23.1
scipy==1.8.1
sphinx==5.0.1
sphinx-rtd-theme==1.0.0
tika==1.24
twine==4.0.1
Unidecode==1.3.4
us==2.0.2
zahlwort2num==0.3.0
